        *,
        *::before,
        *::after {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            background: rgb(91, 91, 199);
        }
        
        font :root {
            --default: skyblue;
            --correct: rgb(82, 197, 82);
            --incorrect: red;
        }
        
        body {
            padding: 10;
            margin: 0;
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
        
        #countdown {
            display: flex;
            justify-content: right;
        }
        
        .container1 {
            text-align: top 30px;
            width: 800px;
            max-width: 80%;
        }
        
        .container {
            width: 800px;
            max-width: 80%;
        }
        
        .btn-grid {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;
            margin: 20px 0;
        }
        
        .btn {
            background-color: var(--default);
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 18px;
        }
        
        .btn:hover {
            border-color: black;
        }
        
        .btn.correct {
            background-color: var(--correct);
        }
        
        .btn.incorrect {
            background-color: var(--incorrect);
        }
        
        .hide {
            display: none;
        }